/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    .crxy(padding, 10px, 5px);
    text-align: left;
    border-bottom: 1px solid @default-border-color;
}
th {
    border-width: 2px;
}

tr:last-child {
    td {
        border-bottom: none;
    }
}